# Visual Studio junk
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.docstates

# Node/React junk
node_modules/
dist/
dist-ssr/
npm-debug.log*

# Database & Uploads (Teammates should create their own)
*.mdf
*.ldf
wwwroot/uploads/*
!wwwroot/uploads/.gitkeep