# Visual Studio Junk
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.docstates

# Node/React Junk
node_modules/
dist/
dist-ssr/
npm-debug.log*

# Database & Storage
*.mdf
*.ldf
wwwroot/uploads/*
!wwwroot/uploads/.gitkeep